html, body {
    background-color: #11100c;
    background: #11100c !important;
    height: 100%;
    font-family: 'Sofia' !important;
}

* {
    font-family: 'Sofia' !important;
}

.pa-title {
    background-color: #d1c8ab;
    text-align: center;
    margin-bottom: 20px;
}

.selected-category {
    background-color: #d16c5b !important;
}

.category:hover {
    background-color: rgb(209, 178, 157) !important;
}

.place-map {
    background-image: url("../images/placeholder2.png");

}