{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block page_title %}
    Paris 1909 TripAdvisor
{% endblock %}

{% block content %}
    <div class="uk-margin-auto uk-padding-small">
        <div class="uk-inline uk-dark">
            <img src="{% static "images/map.jpg" %}">
            {% for place in places %}
                {% if place.get_x and place.get_y %}
                    <a class="uk-position-absolute uk-transform-center place-on-map uk-icon uk-icon-image place-map"
                       id="place-{{ place.id }}"
                       style="left: {{ place.get_x }}%; top: {{ place.get_y }}%; }); width: 12px;"
                       href="/place_info/{{ place.id }}"
                       uk-tooltip="{{ place.name }}"></a>
                    <div uk-dropdown="pos: top-center" class="uk-margin-remove uk-background-cover"
                         data-src="{{ place.get_first_image }}" uk-img style="height: 100px">

                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="uk-light">
            <h2 class="">Paris 1909</h2>

            <div style="margin-bottom: 20px;">
                There is not a city in the world where pleasures are more numerous and varied than in Paris. Everything
                here is a diversion, an amusement, an enchantement.  As you loiter about the streets, on the boulevards
                and public places, along the quays of the Seine, such pretty and picturesque scenes there are, so many
                living pictures! It is the preeminently artistic city where the keenest curiosity, surprises and
                emotions are constantly renewed.  But, in order to know such a city as Paris throughout his minutest
                recesses, one must be guided. This is why we have endeavored to acquaint foreigners with what is termed
                Parisian life.  
                We provide the golden key that opens Parisian edens, and one will know which doors must not be passed!
                Our experience as an old Parisian will serve to regulate and protect the progress of such as venture
                into the mazes of Paris.  Experience means science!
                <br>
                <br>
                Pleasure Guide to Paris (1909, 1925)  
            </div>

            <a class="uk-margin" href="explore/" style="margin-top: 20px;">
                <button class="uk-button uk-button-default">Explore!</button>
            </a>
        </div>
    </div>

{% endblock content %}