{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block page_title %}
    Explore Paris
{% endblock page_title %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock extra_js %}

{% block content %}

    <ul class="uk-tab uk-dark" uk-tab="animation: uk-animation-slide-bottom">
        <li><a href="#">Places</a></li>
        <li><a href="#">Experiences</a></li>
        <li><a href="#">Neighborhoods</a></li>
    </ul>

    <ul class="uk-switcher uk-margin uk-light">
        <li>
            <div>
                <div class="uk-light">

                    <h3>Categories</h3>
                </div>
                <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
                    {% for category in categories %}
                        <a href="/explore/{{ category.id }}">
                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin category {% if category.id == category_id %} selected-category {% endif %}"
                                 uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <img src="{{ category.image }}" alt="" uk-cover>
                                </div>
                                <div>
                                    <h4 class="uk-card-title uk-padding-small">{{ category.name }}</h4>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                <div uk-grid>

                    <div class="uk-width-1-2@m uk-light">
                        <h3>Places</h3>

                        <div id="places-container">
                            {% for place in places %}
                                <a href='/place_info/{{ place.id }}'>
                                    <div class='uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin'
                                         uk-grid>
                                        <div class='uk-card-media-left uk-cover-container'><img
                                                src='{{ place.get_first_image }}'
                                                alt='' uk-cover></div>
                                        <div>
                                            <div class='uk-card-body'><h3 class='uk-card-title'>{{ place.name }}</h3>
                                                <h4>{{ place.category.name }}</h4>

                                                <p>{{ place.description|slice:":100" }}...</p></div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="uk-width-1-2@m">
                        <div class="uk-inline uk-dark" uk-sticky>
                            <img src="{% static "images/map.jpg" %}">

                            <div id="places-map-container">
                                {% for place in places %}
                                    {% if place.get_x and place.get_y %}
                                        <a class='uk-position-absolute uk-transform-center place-on-map uk-icon uk-icon-image place-map'
                                           id='place-{{ place.id }}'
                                           style='left: {{ place.get_x }}%; top: {{ place.get_y }}%; width: 10px;'
                                           href='/place_info/{{ place.id }}' uk-tooltip='{{ place.name }}'></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="uk-light">
            <h3>Experiences</h3>

            <div uk-filter="target: .js-filter">

                <ul class="uk-subnav uk-subnav-pill">
                    {% for experience in experiences %}
                        <li uk-filter-control=".tag-{{ experience.name }}">
                            <a href="#">{{ experience.name }}</a></li>
                    {% endfor %}
                </ul>

                <ul class="js-filter">
                    {% for experience in experiences %}
                        <li class="tag-{{ experience.name }} uk-padding">
                            <h3>{{ experience.time }} {{ experience.name }}</h3>

                            <p>{{ experience.description }}</p>

                            <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match"
                                 style="padding-bottom: 30px; padding-top: 20px;" uk-grid>
                                {% for place in experience.places.all %}
                                    <a href="/place_info/{{ place.place.id }}">
                                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
                                             uk-grid>
                                            <div class="uk-card-media-left uk-cover-container">
                                                <img src="{{ place.place.get_first_image }}" alt="" uk-cover>
                                            </div>
                                            <div>
                                                <h4 class="uk-card-title uk-padding-small">{{ place.place.name }}</h4>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>

                        </li>
                    {% endfor %}
                </ul>

            </div>

        </li>
        <li class="uk-light">
            <h3>Neighborhoods</h3>

            <div>
                {% for district in districts %}

                    <h4>{{ district.name }}</h4>
                    <div class="uk-panel">
                        <img class="uk-align-right uk-margin-remove-adjacent" src="{{ district.image }}" width="500"
                             alt="Example image">

                        <p>{{ district.description }}</p>
                    </div>

                    <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match"
                         style="padding-bottom: 30px; padding-top: 20px;" uk-grid>
                        {% for place in district.places.all %}
                            <a href="/place_info/{{ place.place.id }}">
                                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
                                     uk-grid>
                                    <div class="uk-card-media-left uk-cover-container">
                                        <img src="{{ place.place.get_first_image }}" alt="" uk-cover>
                                    </div>
                                    <div>
                                        <h4 class="uk-card-title uk-padding-small">{{ place.place.name }}</h4>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <hr class="uk-divider-icon">

                {% endfor %}
            </div>
        </li>
    </ul>


{% endblock content %}


{% block script %}
    <script>
        var categories = "{{ categories | safe }}";
        var places = "{{ places | safe }}";
        places = places.replace(/'/g, '"').replace(/[^ -~]+/g, "");
        places = JSON.parse(places);
    </script>
    <script type="text/javascript" src="{% static "js/places.js" %}"></script>
{% endblock script %}